.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}
.home-main-section .img-wrapper {
flex-grow: 1;
flex-direcion: column;
display: flex;
align-items: stretch;
justify-content: flex-end;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}
@media (max width: 900px) {
  .home-main-section .img-wrapper {
    display: none;
  }

  .home-main-section {
    justify-content: center;
  }
}

.home-page-circle-1 {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 70vw;
  bottom: 3vw;
  background-color: rgba(17, 29, 94, 0.1);
  border-radius: 50%;
}

.home-page-circle-2 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50vw;
  bottom: 40vw;
  background-color: rgba(17, 29, 94, 0.1);
  border-radius: 50%;
}
